@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Playpen+Sans:wght@300;500&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Playpen Sans', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
main{
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo_carrinho{
    padding: 20px;
    font-size: 32px;
}
.container{
    padding: 10px;
}
.container .adm {
    list-style-type: none;
    margin: 10px 10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}
.container .adm .cartao{
    margin: auto;
    background-color: #DBB374;
    width: 60vw;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.2s ease-in-out;
    border-style: solid;
    border-color: #b48c4b;
    bottom: 0;
    border-radius: 10px;
    margin-bottom: 30px;
    color: white;
}
span{
    color: white;
    font-size: 20px;
}
.container img {
    width: 100px;
    height: 100px;
}
h1{
    font-size: 24px;
    padding: 5px;
    text-align: center;
}
a{
    text-decoration: none;
}
.escolha{
    color: white;
    font-size: 32px;
    font-weight: bold;
}